<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634151430563-6vfn5ac22f0s4rqaei8jbfir8sq6ei02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634151430563-6vfn5ac22f0s4rqaei8jbfir8sq6ei02</string>
	<key>API_KEY</key>
	<string>AIzaSyD4QCejBi4dtqtnKFO7unSXvRkh1_bmgro</string>
	<key>GCM_SENDER_ID</key>
	<string>634151430563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelRegistration</string>
	<key>PROJECT_ID</key>
	<string>hotel-registration-55b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-registration-55b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634151430563:ios:6bf28278dc72a9b0a35216</string>
</dict>
</plist>